





body{
    background-color: #eee;
    color: rgb(20, 8, 8);
}
a{
    color: black;
    text-decoration: none;
}
.cursor
{
     height: 24px;
     width: 24px;
     border: 3px solid #000;
     border-radius: 50%;
     position: absolute;
     top: 0;
     left:0;
     z-index: 9999;
     transition: all 150ms ease-out;
     pointer-events: none;
} 
.wrapper
{
    max-width: 960px;
    margin: 0px auto;
}
.menu
{
        margin: 0;
        padding:0;
        list-style: none;
        display:flex;
        align-items:center;
        gap:40px;
        height:100px
    }

.article{
margin-bottom: 40px;
}
.hovered{
    height:54px;
    width:54px;
    background: #fff;
    mix-blend-mode: difference;
}